@import "bourbon/bourbon"
@import "sass/_vars"
@import "sass/_custom"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.25
	font-family: "PTSRegular", sans-serif
	overflow-x: hidden

.hidden
	display: none

.header
	height: 190px
	padding: 20px 0
	&__content
		-webkit-box-shadow: 0px 0px 4px 0px rgba(0,1,3,1)
		-moz-box-shadow: 0px 0px 4px 0px rgba(0,1,3,1)
		box-shadow: 0px 0px 4px 0px rgba(0,1,3,1)
.logo
	&__link
		display: block
		max-width: 259px
		width: 100%
	&__img
		display: block
		width: 100%
.search
	padding-left: 72px
	padding-top: 18px
	&__input
		width: 100%
		height: 38px
		display: block
		border: 1px solid #bcbcbc
		padding-left: 14px
		padding-right: 14px
.phone
	text-align: center
	padding-top: 11px
	&__link
		display: inline-block
		color: #000
		font-size: 24px
		font-family: "PTSBold", sans-serif
		span
			color: #e0212c
		&:hover
			color: #000
	&__adr
		display: block
		color: #646464
		font-size: 14px
		padding-top: 5px
.basket
	width: 100%
	padding-top: 12px
	&__link
		display: block
		width: 46px
		height: 45px
		background-image: url(../img/basket.png)
		background-repeat: no-repeat
		background-position: center center
		margin: 0 auto
		position: relative
		&-col
			position: absolute
			display: block
			width: 23px
			height: 23px
			border-radius: 50%
			background-color: #3c5a98
			text-align: center
			font-size: 15px
			color: #fcfcfc
			line-height: 23px
			left: 7px
			top: 9px
.nav
	font-size: 0
	padding-top: 32px
	padding-left: 62px
	&__item
		display: inline-block
		position: relative
		padding: 0 10px
		&::after
			content: '|'
			position: absolute
			right: -2px
			color: #000
			font-size: 17px
			top: 0
		&:last-child
			&::after
				display: none
	&__link
		display: inline-block
		font-size: 17px
		color: #000
		&:hover
			color: #e0222d
.slider
	height: 492px
	&__item
		display: block
		background-repeat: no-repeat
		background-position: center center
		background-size: cover
		height: 492px
		position: relative
	&__text
		background-color: #fff
		padding: 38px 50px
		&-title
			color: #151515
			font-family: "PTSBold", sans-serif
			font-size: 24px
			text-transform: uppercase
			padding-bottom: 10px
			display: block
		&-description
			color: #000
			font-size: 14px
	&-center
		position: absolute
		top: 50%
		left: 0
		right: 0
		transform: translateY(-50%)
	.slick-dots
		position: absolute
		left: 0
		right: 0
		bottom: 41px
		font-size: 0
		text-align: center
		li
			display: inline-block
			text-indent: -9999px
			width: 11px
			height: 11px
			background-color: #fff
			border-radius: 50%
			margin: 0 4.5px
		.slick-active
			background-color: #e0222d
.content
	&__top-line
		padding-top: 21px
	&__categ-list
		padding-top: 24px
.nov
	display: block
	height: 341px
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	cursor: pointer
	position: relative
	@include transition(all 0.5s ease-in-out)
	&:hover
		-webkit-box-shadow: 0px 2px 21px 0px rgba(1,2,4,0.35)
		-moz-box-shadow: 0px 2px 21px 0px rgba(1,2,4,0.35)
		box-shadow: 0px 2px 21px 0px rgba(1,2,4,0.35)
		.nov__text-name
			color: #e0222d
	&__text
		position: absolute
		left: 36px
		bottom: 30px
		&-name
			display: block
			color: #000
			font-family: "PTSBold", sans-serif
			font-size: 24px
			text-transform: uppercase
			line-height: 24px
			@include transition(all 0.5s ease-in-out)
		&-description
			display: block
			line-height: 24px
			font-size: 16px
			color: #000
.categ
	&__item
		background-color: #f5f5f5
		width: 100%
		height: 340px
		position: relative
		display: block
		margin-bottom: 24px
		@include transition(all 0.5s ease-in-out)
		&:hover
			-webkit-box-shadow: 0px 2px 21px 0px rgba(1,2,4,0.35)
			-moz-box-shadow: 0px 2px 21px 0px rgba(1,2,4,0.35)
			box-shadow: 0px 2px 21px 0px rgba(1,2,4,0.35)
			.categ__item-bottom
				padding-left: 30px
			.categ__item-title
				color: #e0222d
		&-top
			height: 242px
			text-align: center
			position: relative
		&-bottom
			height: 98px
			background-color: #fff
			width: 100%
			position: relative
			@include transition(all 0.5s ease-in-out)
			&::after
				content: ''
				width: 100%
				display: block
				height: 74px
				background-image: url(../img/figure.png)
				position: absolute
				background-size: cover
				background-repeat: no-repeat
				top: -74px
				left: 0
				right: 0
		&-img
			display: inline-block
			max-width: 90%
			&-wp
				position: absolute
				top: 50%
				left: 0
				right: 0
				transform: translateY(-50%)
		&-title
			display: block
			line-height: 24px
			font-family: "PTSBold", sans-serif
			font-size: 24px
			color: #000
			text-transform: uppercase
			@include transition(all 0.5s ease-in-out)
		&-description
			display: block
			line-height: 24px
			color: #000
			font-size: 16px
.news
	padding-top: 58px
	&__title
		font-family: "PTSBold", sans-serif
		font-size: 24px
		color: #000
		text-transform: uppercase
		padding-bottom: 22px
		display: block
	&__item
		&-title
			font-family: "PTSBold", sans-serif
			font-size: 16px
			text-transform: uppercase
			color: #000
		&-data
			display: block
			color: #969696
			font-size: 16px
			line-height: 48px
		&-time
			display: inline-block
			margin-left: 10px
		&-description
			font-size: 14px
			color: #000
		&-more
			color: #e0222d
			text-decoration: underline
			font-size: 16px
			&:hover
				text-decoration: none
				color: #e0222d
			&-wp
				padding-top: 8px
.kind
	padding-top: 88px
	&__bg
		background-image: url(../img/kind.jpg)
		height: 340px
		background-repeat: no-repeat
		background-size: cover
		background-position: center center
		position: relative
	&__text
		background-color: #fff
		padding: 30px 34px
.seo
	padding-top: 62px
.content
	padding-bottom: 70px
.footer
	-webkit-box-shadow: 0px 0px 18px 0px rgba(0,1,3,0.3)
	-moz-box-shadow: 0px 0px 18px 0px rgba(0,1,3,0.3)
	box-shadow: 0px 0px 18px 0px rgba(0,1,3,0.3)
	&__top
		padding-top: 24px
		padding-bottom: 12px
		text-align: center
	&__bottom
		background-color: #1f1f1f
		height: 53px
	&__phone
		text-align: right
		padding-top: 20px
		.phone__adr
			padding-top: 26px
	&__nav
		display: inline-block
		margin-left: 92px
		padding-top: 16px
		text-align: left
		&:first-child
			margin-left: 0
		&-item
		&-link
			line-height: 36px
			font-size: 17px
			color: #000
			&:hover
				color: #e0222d
.copy
	color: #fff
	font-size: 14px
	line-height: 53px
	text-align: center
.page
	&__title
		color: #000
		font-size: 24px
		line-height: 24px
		display: block
		padding-top: 35px
		padding-bottom: 10px
.path
	font-size: 0
	&__item
		display: inline-block
		position: relative
		&::before
			content: '/'
			font-size: 13px
			line-height: 24px
			color: #6c6a6a
			padding: 0 5px
		&:first-child
			&::before
				display: none
	span
		&:hover
			color: #6c6a6a
	&__link
		color: #6c6a6a
		font-size: 13px
		line-height: 24px
		&:hover
			color: #e0222d
.sidebar
	padding: 20px 28px
	background-color: #f5f5f5
	width: 100%
	margin-top: 15px
.menu
	&__item
		padding: 5px 0
	&__link
		color: #111
		font-size: 16px
		line-height: 100%
		&:hover
			color: #e0222d
.vid
	margin-top: 15px
	&__item
		height: 270px
		width: 100%
		display: block
		@include transition(all 0.5s ease-in-out)
		margin-bottom: 24px
		&:hover
			-webkit-box-shadow: 2px 0px 21px 0px rgba(1,2,4,0.35)
			-moz-box-shadow: 2px 0px 21px 0px rgba(1,2,4,0.35)
			box-shadow: 2px 0px 21px 0px rgba(1,2,4,0.35)
			.vid__item-bottom
				padding-left: 21px
				.categ__item-title
					color: #e0222d
		&-top
		&-img
			display: block
			width: 100%
		&-bottom
			position: relative
			@include transition(all 0.5s ease-in-out)
			&::after
				content: ''
				width: 100%
				height: 74px
				display: block
				background-image: url(../img/figure.png)
				background-repeat: no-repeat
				background-position: center center
				background-size: cover
				position: absolute
				top: -74px
				left: 0
				right: 0
.recomend
	&__slider
		margin-top: 38px
		.slick-arrow
			display: none !important
		&-arrow
			width: 22px
			height: 22px
			display: inline-block
			border-radius: 50%
			background-color: #e0222d
			position: relative
			border: none
			margin: 0 7px
			&-wp
				font-size: 0
				width: 100%
				text-align: center
				padding-top: 34px
		&-prew
			&::after
				content: "\f104"
				font-family: "FontAwesome"
				font-size: 19px
				color: #fcfcfc
				position: absolute
				left: 0
				right: 1px
				top: -1.5px
		&-next
			&::after
				content: "\f105"
				font-family: "FontAwesome"
				font-size: 19px
				color: #fcfcfc
				position: absolute
				left: 1px
				right: 0
				top: -1.5px
		&-item
			text-align: center
			&-top
			&-img
				display: block
				width: 80%
				margin: 0 auto
			&-title
				color: #000
				font-size: 17px
				line-height: 24px
				display: inline-block
				&:hover
					color: #000
			&-price
				color: #e0222d
				display: inline-block
				font-family: "PTSBold", sans-serif
				font-size: 17px
				line-height: 24px
.card
	padding-top: 24px
	&__img
		display: block
		width: 100%
		&__wp
			width: 100%
	&__text
		padding-top: 28px
		&-title
			color: #151515
			font-family: "PTSBold", sans-serif
			font-size: 22px
		&-price
			color: #151515
			font-size: 19px
			padding-top: 8px
			&-r
				color: #e0222d
				font-size: 24px
				font-family: "PTSBold", sans-serif
				display: inline-block
				margin-left: 5px
		&-availability
			color: #3c5a98
			font-size: 16px
			padding-left: 19px
			position: relative
			margin-top: 12px
			&::before
				content: ''
				width: 9px
				height: 9px
				border-radius: 50%
				background-color: #3c5a98
				position: absolute
				left: 0
				top: 6px
	&__buy
		padding: 40px 30px
		background-color: #f5f5f5
		&-top
			display: block
			width: 100%
			height: 48px
			margin-bottom: 7px
			text-align: center
			background-color: #e0222d
			color: #fefefd
			font-size: 17px
			line-height: 48px
			font-family: "PTSBold", sans-serif
			border: 1px solid #e0222d
			@include transition(all 0.5s ease-in-out)
			&:hover
				background-color: transparent
				color: #e0222d
		&-bottom
			display: block
			width: 100%
			height: 48px
			text-align: center
			line-height: 48px
			border: 1px solid #494949
			color: #494949
			font-size: 17px
			font-family: "PTSBold", sans-serif
			@include transition(all 0.5s ease-in-out)
			&:hover
				background-color: #494949
				color: #fff
.tabs
	margin-top: 100px
	&__top
		@extend .clearfix
		&-item
			cursor: pointer
			display: block
			float: left
			width: 180px
			color: #494949
			background-color: #e6eef0
			height: 54px
			line-height: 54px
			text-align: center
			font-size: 17px
			margin-right: 10px
			border-radius: 2px 2px 0 0
		.active
			background-color: transparent
			border-top: 3px solid #e6eef0
			border-left: 3px solid #e6eef0
			border-right: 3px solid #e6eef0
			height: 72px
			display: block
			margin-top: -18px
			padding-top: 15px
			position: relative
			&::before
				content: ''
				width: 174px
				height: 3px
				background-color: #fff
				position: absolute
				bottom: -3px
				left: 0
				right: 0
	&__content
		width: 100%
		border: 3px solid #e6eef0
		padding: 23px 30px
		p
			color: #494949
			font-size: 16px
			line-height: 24px
		ul
			padding-top: 24px
			li
				color: #494949
				font-size: 16px
				display: block
				line-height: 24px
				padding-left: 16px
				position: relative
				&::before
					content: ''
					width: 5px
					height: 5px
					background-color: #565757
					position: absolute
					left: 2px
					top: 10px
					border-radius: 50%
.catalog
	&__item
		height: 252px
		margin-bottom: 24px
		background-color: #f5f5f5
		display: block
		&-img
			display: inline-block
			margin-top: 10px
		&:hover
			.categ__item-bottom
				padding-left: 16px
			.categ__item-title
				color: #e0222d
		&-top
			height: 160px
			text-align: center
		&-img
		&-bottom
			@include transition(all 0.5s ease-in-out)
.cat
	&__item
		height: 210px
		margin-bottom: 24px
		display: block
		@include transition(all 0.5s ease-in-out)
		padding-top: 18px
		padding-bottom: 18px
		&:hover
			-webkit-box-shadow: 2px 0px 21px 0px rgba(1,2,4,0.35)
			-moz-box-shadow: 2px 0px 21px 0px rgba(1,2,4,0.35)
			box-shadow: 2px 0px 21px 0px rgba(1,2,4,0.35)
			.cat__item-title
				color: #e0222d
		&-top
			text-align: center
		&-img
			max-width: 80%
			display: inline-block
		&-bottom
		&-title
			color: #151515
			font-size: 17px
			display: block
			text-align: center
			@include transition(all 0.5s ease-in-out)
		&-price
			color: #151515
			font-size: 17px
			display: block
			text-align: center
			padding-top: 5px
.contacts
	&__top
		&-name
			color: #000
			font-size: 18px
			margin-left: 6px
			display: block
			margin-bottom: 12px
		&-info
			background-position: left center
			background-repeat: no-repeat
			color: #000
			font-size: 20px
			padding: 5px 0 5px 37px
			a
				color: #000
				font-size: 20px
				&:hover
					color: #e0222d
	&__map
		width: 100%
		margin-top: 24px
		border: 2px solid #ecf5ff
		iframe
			width: 100% !important
			display: block
			height: 392px !important
.askaquestion
	border: 1px solid #e0222d
	@extend .clearfix
	padding: 48px 60px
	margin-top: 52px
	padding-top: 32px
	margin-bottom: 38px
	&__title
		color: #000
		font-size: 19px
		display: block
		width: 100%
		text-align: center
		margin-bottom: 17px
	&__left
		width: 50%
		padding-right: 7.5px
		float: left
		position: relative
	&__input
		display: block
		width: 100%
		border: 1px solid #b2a8a9
		border-radius: 2px
		height: 36px
		margin-bottom: 9px
		-webkit-box-shadow: 0px -1px 10px 8px rgba(#d9d9da,.2)
		-moz-box-shadow: 0px -1px 10px 8px rgba(#d9d9da,.2)
		box-shadow: 0px -1px 10px 8px rgba(#d9d9da,.2)
		padding-left: 47px
		&-icon
			&-1
				&::before
					content: ''
					width: 41px
					height: 36px
					background-color: transparent
					position: absolute
					border: 1px solid #b2a8a9
					border-radius: 2px 0 0 2px
					top: 0
					left: 0
					display: block
				&::after
					content: "\f007"
					font-family: FontAwesome
					font-size: 16px
					color: #818080
					position: absolute
					left: 15px
					top: 9px
			&-2
				&::before
					content: ''
					width: 41px
					height: 36px
					background-color: transparent
					position: absolute
					border: 1px solid #b2a8a9
					border-radius: 2px 0 0 2px
					top: 45px
					left: 0
					display: block
				&::after
					content: "\f0e0"
					font-family: FontAwesome
					font-size: 16px
					color: #818080
					position: absolute
					left: 15px
					top: 54px
	&__right
		width: 50%
		padding-left: 7.5px
		float: right
	&__textarea
		display: block
		width: 100%
		border: 1px solid #b2a8a9
		border-radius: 2px
		height: 81px
		margin-bottom: 9px
		-webkit-box-shadow: 0px -1px 10px 8px rgba(#d9d9da,.2)
		-moz-box-shadow: 0px -1px 10px 8px rgba(#d9d9da,.2)
		box-shadow: 0px -1px 10px 8px rgba(#d9d9da,.2)
		padding: 10px 14px
		resize: none
	&__bottom
		clear: left
		text-align: center
		padding-top: 12px
	&__button
		display: inline-block
		padding: 0 88px
		height: 44px
		background-color: #e0222d
		border: 1px solid #e0222d
		color: #fefefd
		font-size: 17px
		font-family: "PTSBold", sans-serif
		line-height: 44px
		border-radius: 2px
		@include transition(all 0.5s ease-in-out)
		&:hover
			background-color: transparent
			color: #e0222d
.contacts__top
	margin-top: -25px
.black-content
	background-color: #050505
	padding: 24px 0
	margin-top: -58px
	margin-bottom: 28px
	&__title
		color: #fff
		font-family: "PTSBold", sans-serif
		font-size: 24px
.corz
	&__top
	&__item
		padding-left: 50px
		padding-right: 142px
		border-top: 1px solid #dcd9d9
		border-left: 1px solid #dcd9d9
		border-right: 1px solid #dcd9d9
		height: 107px
		@extend .clearfix
		&-img
			width: 86px
			max-height: 105px
			position: absolute
			left: 12px
			top: 50%
			transform: translateY(-50%)
			&-wp
				height: 107px
				+percent(160, 955)
				position: relative
				float: left
		&-name
			position: absolute
			left: 0
			top: 50%
			transform: translateY(-50%)
			font-size: 18px
			color: #151515
			&-wp
				height: 107px
				+percent(467, 955)
				float: left
				position: relative
		&-quantity
			padding-top: 33.5px
			@extend .clearfix
			+percent(225, 955)
			float: left
			&-left
				display: block
				width: 30px
				height: 40px
				background-color: transparent
				position: relative
				float: left
				border: none
				&::before
					content: ''
					height: 3px
					width: 13px
					position: absolute
					left: 7px
					top: 50%
					margin-top: -1.5px
					background-color: #151515
			&-center
				width: 74px
				height: 40px
				display: block
				border: 1px solid #dcd9d9
				border-radius: 2px
				text-align: center
				font-size: 18px
				color: #151515
				float: left
				margin: 0 4px
			&-right
				display: block
				width: 30px
				height: 40px
				background-color: transparent
				position: relative
				top: 50%
				float: left
				border: none
				&::after
					content: ''
					width: 13px
					height: 3px
					position: absolute
					left: 7px
					top: 50%
					margin-top: -1.5px
					background-color: #151515
				&::before
					content: ''
					height: 13px
					width: 3px
					position: absolute
					left: 12px
					top: 50%
					margin-top: -6.5px
					background-color: #151515
		&-price
			color: #151515
			font-family: "PTSBold", sans-serif
			font-size: 18px
			line-height: 107px
			float: right
		&:first-child
			border-radius: 4px 4px 0 0
		&:last-child
			border-radius: 0 0 4px 4px
			border-bottom: 1px solid #dcd9d9
.cup
	&__text
		line-height: 107px
		&-wp
			width: 180px
			float: left
	&__input
		width: 100%
		height: 40px
		display: block
		border: 1px solid #dcd9d9
		border-radius: 2px
		text-align: center
		font-size: 18px
		color: #151515
		margin: 0 4px
		&-wp
			width: 238px
			float: left
			padding-top: 33.5px
	&__button
		height: 40px
		display: block
		width: 100%
		border: 1px solid #3c5a98
		border-radius: 2px
		color: #3c5a98
		text-align: center
		line-height: 40px
		font-family: "PTSBold", sans-serif
		font-size: 17px
		@include transition(all 0.5s ease-in-out)
		&:hover
			background-color: #3c5a98
			color: #fff
		&-wp
			padding-top: 33.5px
			width: 207px
			float: left
			padding-left: 12px
	&__itog
		color: #0b0b0b
		font-family: "PTSBold", sans-serif
		font-size: 22px
		line-height: 107px
		float: left
		text-align: right
		width: 328px
		span
			display: inline-block
			margin-left: 22px
.corz__bottom
	text-align: right
	padding-top: 25px
	padding-right: 88px
	&-button
		width: 254px
		height: 58px
		display: inline-block
		background-color: #e0222d
		border: 1px solid #e0222d
		@include transition(all 0.5s ease-in-out)
		color: #fefefd
		border-radius: 2px
		text-align: center
		line-height: 58px
		font-size: 19px
		font-family: "PTSBold", sans-serif
		&:hover
			background-color: transparent
			color: #e0222d
.blog
	&__item
		border-bottom: 1px solid #000
		padding-bottom: 40px
		padding-top: 40px
		&:first-child
			padding-top: 22px
	&__title
		color: #000
		font-family: "PTSBold", sans-serif
		font-size: 16px
		text-transform: uppercase
		&-wp
	&__data
		color: #969696
		font-size: 16px
		line-height: 48px
		span
			margin-left: 12px
			display: inline-block
		&-wp
	&__description
		color: #000
		font-size: 14px
		line-height: 22px
		a
			color: #161997
			&:hover
				color: #161997
				text-decoration: underline
		&-wp
	&__more
		color: #e0222d
		text-decoration: underline
		font-size: 16px
		&-wp
			padding-top: 10px
	&__img
		display: block
		&-wp
			padding-top: 20px
	&__list
		padding-bottom: 16px
		&-item
			padding-left: 25px
			position: relative
			display: block
			color: #080808
			font-size: 14px
			line-height: 22px
			&::before
				content: ''
				width: 5px
				height: 5px
				background-color: #424242
				position: absolute
				left: 4px
				top: 10px
				display: block
	&__ago
		color: #0c0c0c
		font-size: 15px
		padding-left: 11px
		position: relative
		&::before
			content: "\f104"
			position: absolute
			font-family: FontAwesome
			left: 0
			top: 0
			display: block
			color: #626263
			font-size: 19px
			line-height: 100%
		&:hover
			color: #161997
			&::before
				color: #161997
		&-wp
			padding-top: 16px
.pagination
	font-size: 0
	padding-top: 54px
	padding-left: 76px
	&__item
		display: inline-block
	&__active
		.pagination__link
			color: #161997
	&__link
		color: #151515
		width: 30px
		text-align: center
		display: block
		font-size: 15px
		&:hover
			color: #161997
	&__arrow
		width: auto
		a
			width: 100%
	&__prew
		position: relative
		margin-right: 5px
		&:hover
			&::before
				color: #161997
		a
			padding-left: 14px
			color: #626263
		&::before
			content: "\f104"
			position: absolute
			font-family: FontAwesome
			left: 0
			top: 50%
			display: block
			color: #626263
			font-size: 19px
			transform: translateY(-50%)
	&__next
		position: relative
		margin-left: 5px
		&:hover
			&::after
				color: #161997
		a
			padding-right: 14px
			color: #626263
		&::after
			content: "\f105"
			font-family: FontAwesome
			position: absolute
			display: block
			right: 0
			color: #626263
			top: 50%
			transform: translateY(-50%)
			font-size: 19px
.single-news
	padding-top: 40px
	&-wp
		padding-bottom: 40px
.single-vid
	padding-bottom: 40px
	&__img
		&-wp
			padding-top: 16px
	&__title
		text-transform: uppercase
		color: #000
		font-size: 17px
		font-family: "PTSBold", sans-serif
		&-wp
			padding-top: 16px
	&__description
		color: #000
		font-size: 14px
		line-height: 22px
		&-wp
			padding-top: 16px
.recomend-reading
	&__title
		text-transform: uppercase
		color: #0e0e0e
		font-size: 15px
		font-family: "PTSBold", sans-serif
		&-wp
			margin-bottom: -20px
	.blog__title
		color: #161997
	.blog__item
		&:last-child
			border: none
			padding-bottom: 16px
.single-vid-wp
	padding-bottom: 40px
	.blog__ago-wp
		padding-top: 0
.order
	&__top
		border: 1px solid #dcd9d9
		border-radius: 2px
		padding: 35px 37px 57px 0
		margin-bottom: 40px
	&__title
		color: #0b0b0b
		font-size: 20px
		font-family: "PTSBold", sans-serif
		&-wp
			padding-bottom: 30px
	&__center
		&-title
			color: #101010
			font-size: 20px
			font-family: "PTSBold", sans-serif
			&-wp
				padding-bottom: 16px
		.cup__itog
			width: 100%
	&__data
		@extend .clearfix
		&-left
			float: left
			width: 50%
		&-right
			float: right
			width: 50%
		&-item
			width: 100%
			@extend .clearfix
			margin-bottom: 10px
			padding-left: 37px
			&-text
				color: #0b0b0b
				font-size: 17px
				float: left
				line-height: 48px
				&-obl
					&::after
						content: '*'
						color: #3c5a98
						font-size: 21px
			&-input
				display: block
				height: 48px
				width: 348px
				border: 1px solid #cbcaca
				border-radius: 2px
				padding-left: 10px
				float: right
				-webkit-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.16)
				-moz-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.16)
				box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.16)
			&-textarea
				display: block
				width: 348px
				border: 1px solid #cbcaca
				border-radius: 2px
				padding-left: 10px
				height: 106px
				resize: none
				float: right
				-webkit-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.16)
				-moz-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.16)
				box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.16)
				padding-top: 5px
	&__process
		padding-top: 40px
		&-title
			font-size: 20px
			color: #0b0b0b
			font-family: "PTSBold", sans-serif
			&-wp
		&-check
			padding-top: 54px
			&-item
				padding-bottom: 26px
			&-input
				display: none
			&-label
				position: relative
				font-size: 17px
				color: #0b0b0b
				padding: 3px 0 3px 44px
				display: block
				cursor: pointer
				&::before
					content: ''
					width: 28px
					height: 28px
					border: 2px solid #dcd9d9
					display: block
					border-radius: 2px
					position: absolute
					left: 0
					top: 0
.order__process-check-input:checked + .order__process-check-label:before
	content: ''
	background-image: url(../img/check.png)
	background-repeat: no-repeat
	background-position: 2px center