@import "bourbon/bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
	.nav__link
		font-size: 14px
	.nav__item
		padding: 0 8px
		&::after
			font-size: 14px
	.nav
		padding-top: 14px
	.header
		height: 161px
	.catalog__item-top
		height: 168px
	.cup__input-wp
		width: 184px
	.cup__button-wp
		width: 175px
	.cup__itog
		width: 207px
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	.header
		height: auto
	.search
		padding-left: 0
	.logo__link
		margin: 0 auto
	.search__input
		width: 320px
		margin: 0 auto
	.basket
		padding-top: 22px
	.nav
		padding-left: 0
		text-align: center
		padding-top: 20px
	.nov
		margin-bottom: 21px
	.content__categ-list
		padding-top: 0
	.news__item
		margin-bottom: 31px
	.kind__text
		width: 102%
		margin-left: -1%
	.footer__phone
		text-align: center
	.menu__item
		text-align: center
	.contacts__top
		margin-top: 15px
	.corz__item
		height: 276px
		padding: 0 50px
	.corz__item-img-wp
		width: 100%
		float: none
	.corz__item-img
		left: 50%
		margin-left: -43px
	.corz__item-name-wp
		float: none
		width: 100%
		height: 60px
	.corz__item-name
		width: 100%
		text-align: center
	.corz__item-quantity
		float: none
		width: 142px
		margin: 0 auto
		padding-top: 0
	.corz__item-price-wp
		float: none
		width: 100%
	.corz__item-price
		width: 100%
		text-align: center
		line-height: 60px
	.cup__text-wp
		width: 100%
		float: none
		height: 60px
	.cup__text
		display: block
		width: 100%
		text-align: center
		line-height: 60px
	.cup__input-wp
		width: 238px
		margin: 0 auto
		float: none
		padding-top: 0
	.cup__input
		margin: 0
	.cup__button-wp
		width: 207px
		margin: 0 auto
		float: none
		padding: 0
		margin-top: 20px
	.cup__itog
		width: 100%
		text-align: center
		height: 60px
	.corz__bottom
		padding-right: 0
		text-align: center
	.pagination
		padding-left: 0
		text-align: center
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.vid__item
		height: auto
	.vid__item-bottom::after
		display: none
	.card__text
		padding-bottom: 28px
	.tabs__top-item
		width: 100%
	.tabs__top
		.active
			cursor: pointer
			display: block
			float: left
			width: 100%
			color: #494949
			background-color: transparent
			margin: 0
			padding: 0
			height: 54px !important
			&::before
				display: none
	.categ__item-bottom::after
		display: none
	.askaquestion__left
		width: 100%
		padding: 0
	.askaquestion__right
		width: 100%
		padding: 0
	.contacts__top-name
		text-align: center
		margin-bottom: 2px
	.contacts__top-info
		text-align: center
		display: inline-block
	.tac
		text-align: center
		margin-bottom: 20px
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.search__input
		width: 100%
	.footer__nav-item
		width: 100%
		text-align: center
	.footer__nav
		margin-left: 0
		display: block
	.askaquestion__button
		width: 100%
		padding: 0
		text-align: center
	.askaquestion
		padding: 20px 26px 35px;
	.cup__input-wp
		width: 100%
	.cup__button-wp
		width: 100%
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

