/* font-family: "PTSRegular" */
@font-face {
  font-family: "PTSRegular";
  src: url(../fonts/PTS55F.ttf);
}

/* font-family: "PTSBold" */
@font-face {
  font-family: "PTSBold";
  src: url(../fonts/PTN77F.ttf);
}
