html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.clearfix:after, .basket__popup-item:after, .basket__popup-row:after, .tabs__top:after, .askaquestion:after, .corz__item:after, .corz__item-quantity:after, .order__data:after, .order__data-item:after {
  content: '';
  display: table;
  clear: both;
}

.clearfix:before, .basket__popup-item:before, .basket__popup-row:before, .tabs__top:before, .askaquestion:before, .corz__item:before, .corz__item-quantity:before, .order__data:before, .order__data-item:before {
  content: '';
  display: table;
}

a:hover, a:focus, a:active {
  color: #fff;
  text-decoration: none;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.25;
  font-family: "PTSRegular", sans-serif;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.header {
  height: 190px;
  padding: 20px 0;
}

.header__content {
  -webkit-box-shadow: 0px 0px 4px 0px #000103;
  -moz-box-shadow: 0px 0px 4px 0px #000103;
  box-shadow: 0px 0px 4px 0px #000103;
}

.logo__link {
  display: block;
  max-width: 259px;
  width: 100%;
}

.logo__img {
  display: block;
  width: 100%;
}

.search {
  padding-left: 72px;
  padding-top: 18px;
}

.search__input {
  width: 100%;
  height: 38px;
  display: block;
  border: 1px solid #bcbcbc;
  padding-left: 14px;
  padding-right: 14px;
}

.phone {
  text-align: center;
  padding-top: 11px;
}

.phone__link {
  display: inline-block;
  color: #000;
  font-size: 24px;
  font-family: "PTSBold", sans-serif;
}

.phone__link span {
  color: #e0212c;
}

.phone__link:hover {
  color: #000;
}

.phone__adr {
  display: block;
  color: #646464;
  font-size: 14px;
  padding-top: 5px;
}

.basket {
  width: 100%;
  padding-top: 12px;
  position: relative;
}

.basket__link {
  display: block;
  width: 46px;
  height: 45px;
  background-image: url(../img/basket.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
  position: relative;
}

.basket__link-col {
  position: absolute;
  display: block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #3c5a98;
  text-align: center;
  font-size: 15px;
  color: #fcfcfc;
  line-height: 23px;
  left: 7px;
  top: 9px;
}

.basket__popup {
  width: 570px;
  position: absolute;
  top: 52px;
  right: 0;
  border: 1px solid #e0222d;
  border-radius: 2px;
  background-color: #fff;
  z-index: 999;
  padding-bottom: 16px;
  padding-top: 16px;
  display: none;
}

.basket__popup-item {
  height: 95px;
  border-bottom: 1px solid #dedede;
  margin-left: 30px;
  margin-right: 30px;
}

.basket__popup-img {
  width: 78px;
  height: auto;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.basket__popup-img-wp {
  position: relative;
  height: 95px;
  float: left;
  width: 21.20623%;
}

.basket__popup-name {
  display: inline-block;
  color: #151515;
  font-size: 18px;
  font-family: "PTSBold", sans-serif;
  line-height: 24px;
}

.basket__popup-name:hover {
  color: #151515;
}

.basket__popup-name-wp {
  position: relative;
  height: 95px;
  float: left;
  width: 52.72374%;
}

.basket__popup-an {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.basket__popup-art {
  display: block;
  color: #626161;
  font-size: 16px;
  line-height: 24px;
}

.basket__popup-price {
  line-height: 95px;
  color: #151515;
}

.basket__popup-price-wp {
  height: 95px;
  width: 19.45525%;
  float: left;
}

.basket__popup-close {
  font-size: 30px;
  color: #1c1c1c;
  line-height: 95px;
}

.basket__popup-close:hover {
  color: #151515;
}

.basket__popup-close-wp {
  width: 2.72374%;
  float: right;
  height: 95px;
  position: relative;
}

.basket__popup-corz {
  height: 48px;
  width: 204px;
  line-height: 46px;
  border: 1px solid #e0222d;
  background-color: #e0222d;
  color: #fefefd;
  text-align: center;
  display: inline-block;
  font-family: "PTSBold", sans-serif;
  font-size: 17px;
  border-radius: 2px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.basket__popup-corz:hover {
  background-color: transparent;
  color: #e0222d;
}

.basket__popup-corz-wp {
  width: 50%;
  float: left;
  padding-left: 10px;
}

.basket__popup-itog {
  line-height: 48px;
  position: absolute;
  right: 25.4%;
  color: #151515;
  font-size: 17px;
  font-family: "PTSBold", sans-serif;
}

.basket__popup-itog span {
  display: inline-block;
  margin-left: 30px;
}

.basket__popup-itog-wp {
  width: 50%;
  float: right;
  position: relative;
}

.basket__popup-row {
  padding: 20px 30px 16px;
}

.basket__popup-pp {
  color: #3c5a98;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  padding-left: 12px;
}

.basket__popup-pp:hover {
  color: #3c5a98;
}

.basket__popup-pp::before {
  content: "\f104";
  font-family: "FontAwesome";
  font-size: 19px;
  color: #3c5a98;
  position: absolute;
  left: 0;
  right: 1px;
  top: -1.5px;
}

.basket__popup-pp-wp {
  padding-left: 54px;
}

.nav {
  font-size: 0;
  padding-top: 32px;
  padding-left: 62px;
}

.nav__item {
  display: inline-block;
  position: relative;
  padding: 0 10px;
}

.nav__item::after {
  content: '|';
  position: absolute;
  right: -2px;
  color: #000;
  font-size: 17px;
  top: 0;
}

.nav__item:last-child::after {
  display: none;
}

.nav__link {
  display: inline-block;
  font-size: 17px;
  color: #000;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav__link:hover {
  color: #e0222d;
}

.slider {
  height: 492px;
}

.slider__item {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 492px;
  position: relative;
}

.slider__text {
  background-color: #fff;
  padding: 38px 50px;
}

.slider__text-title {
  color: #151515;
  font-family: "PTSBold", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  padding-bottom: 10px;
  display: block;
}

.slider__text-description {
  color: #000;
  font-size: 14px;
}

.slider-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.slider .slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 41px;
  font-size: 0;
  text-align: center;
}

.slider .slick-dots li {
  display: inline-block;
  text-indent: -9999px;
  width: 11px;
  height: 11px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 4.5px;
}

.slider .slick-dots .slick-active {
  background-color: #e0222d;
}

.content__top-line {
  padding-top: 21px;
}

.content__categ-list {
  padding-top: 24px;
}

.nov {
  display: block;
  height: 341px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nov:hover {
  -webkit-box-shadow: 0px 2px 21px 0px rgba(1, 2, 4, 0.35);
  -moz-box-shadow: 0px 2px 21px 0px rgba(1, 2, 4, 0.35);
  box-shadow: 0px 2px 21px 0px rgba(1, 2, 4, 0.35);
}

.nov:hover .nov__text-name {
  color: #e0222d;
}

.nov__text {
  position: absolute;
  left: 36px;
  bottom: 30px;
}

.nov__text-name {
  display: block;
  color: #000;
  font-family: "PTSBold", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 24px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nov__text-description {
  display: block;
  line-height: 24px;
  font-size: 16px;
  color: #000;
}

.categ__item {
  background-color: #f5f5f5;
  width: 100%;
  height: 340px;
  position: relative;
  display: block;
  margin-bottom: 24px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.categ__item:hover {
  -webkit-box-shadow: 0px 2px 21px 0px rgba(1, 2, 4, 0.35);
  -moz-box-shadow: 0px 2px 21px 0px rgba(1, 2, 4, 0.35);
  box-shadow: 0px 2px 21px 0px rgba(1, 2, 4, 0.35);
}

.categ__item:hover .categ__item-bottom {
  padding-left: 30px;
}

.categ__item:hover .categ__item-title {
  color: #e0222d;
}

.categ__item-top {
  height: 242px;
  text-align: center;
  position: relative;
}

.categ__item-bottom {
  height: 98px;
  background-color: #fff;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.categ__item-bottom::after {
  content: '';
  width: 100%;
  display: block;
  height: 74px;
  background-image: url(../img/figure.png);
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  top: -74px;
  left: 0;
  right: 0;
}

.categ__item-img {
  display: inline-block;
  max-width: 90%;
}

.categ__item-img-wp {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.categ__item-title {
  display: block;
  line-height: 24px;
  font-family: "PTSBold", sans-serif;
  font-size: 24px;
  color: #000;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.categ__item-description {
  display: block;
  line-height: 24px;
  color: #000;
  font-size: 16px;
}

.news {
  padding-top: 58px;
}

.news__title {
  font-family: "PTSBold", sans-serif;
  font-size: 24px;
  color: #000;
  text-transform: uppercase;
  padding-bottom: 22px;
  display: block;
}

.news__item-title {
  font-family: "PTSBold", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
}

.news__item-data {
  display: block;
  color: #969696;
  font-size: 16px;
  line-height: 48px;
}

.news__item-time {
  display: inline-block;
  margin-left: 10px;
}

.news__item-description {
  font-size: 14px;
  color: #000;
}

.news__item-more {
  color: #e0222d;
  text-decoration: underline;
  font-size: 16px;
}

.news__item-more:hover {
  text-decoration: none;
  color: #e0222d;
}

.news__item-more-wp {
  padding-top: 8px;
}

.kind {
  padding-top: 88px;
}

.kind__bg {
  background-image: url(../img/kind.jpg);
  height: 340px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.kind__text {
  background-color: #fff;
  padding: 30px 34px;
}

.seo {
  padding-top: 62px;
}

.content {
  padding-bottom: 70px;
}

.footer {
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 1, 3, 0.3);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 1, 3, 0.3);
  box-shadow: 0px 0px 18px 0px rgba(0, 1, 3, 0.3);
}

.footer__top {
  padding-top: 24px;
  padding-bottom: 12px;
  text-align: center;
}

.footer__bottom {
  background-color: #1f1f1f;
  height: 53px;
}

.footer__phone {
  text-align: right;
  padding-top: 20px;
}

.footer__phone .phone__adr {
  padding-top: 26px;
}

.footer__nav {
  display: inline-block;
  margin-left: 92px;
  padding-top: 16px;
  text-align: left;
}

.footer__nav:first-child {
  margin-left: 0;
}

.footer__nav-link {
  line-height: 36px;
  font-size: 17px;
  color: #000;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer__nav-link:hover {
  color: #e0222d;
}

.copy {
  color: #fff;
  font-size: 14px;
  line-height: 53px;
  text-align: center;
}

.page__title {
  color: #000;
  font-size: 24px;
  line-height: 24px;
  display: block;
  padding-top: 35px;
  padding-bottom: 10px;
}

.path {
  font-size: 0;
}

.path__item {
  display: inline-block;
  position: relative;
}

.path__item::before {
  content: '/';
  font-size: 13px;
  line-height: 24px;
  color: #6c6a6a;
  padding: 0 5px;
}

.path__item:first-child::before {
  display: none;
}

.path span:hover {
  color: #6c6a6a;
}

.path__link {
  color: #6c6a6a;
  font-size: 13px;
  line-height: 24px;
}

.path__link:hover {
  color: #e0222d;
}

.sidebar {
  padding: 20px 28px;
  background-color: #f5f5f5;
  width: 100%;
  margin-top: 15px;
}

.menu__item {
  padding: 5px 0;
}

.menu__link {
  color: #111;
  font-size: 16px;
  line-height: 100%;
}

.menu__link:hover {
  color: #e0222d;
}

.vid {
  margin-top: 15px;
}

.vid__item {
  height: 270px;
  width: 100%;
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-bottom: 24px;
}

.vid__item:hover {
  -webkit-box-shadow: 2px 0px 21px 0px rgba(1, 2, 4, 0.35);
  -moz-box-shadow: 2px 0px 21px 0px rgba(1, 2, 4, 0.35);
  box-shadow: 2px 0px 21px 0px rgba(1, 2, 4, 0.35);
}

.vid__item:hover .vid__item-bottom {
  padding-left: 21px;
}

.vid__item:hover .vid__item-bottom .categ__item-title {
  color: #e0222d;
}

.vid__item-img {
  display: block;
  width: 100%;
}

.vid__item-bottom {
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.vid__item-bottom::after {
  content: '';
  width: 100%;
  height: 74px;
  display: block;
  background-image: url(../img/figure.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -74px;
  left: 0;
  right: 0;
}

.recomend__slider {
  margin-top: 38px;
}

.recomend__slider .slick-arrow {
  display: none !important;
}

.recomend__slider-arrow {
  width: 22px;
  height: 22px;
  display: inline-block;
  border-radius: 50%;
  background-color: #e0222d;
  position: relative;
  border: none;
  margin: 0 7px;
}

.recomend__slider-arrow-wp {
  font-size: 0;
  width: 100%;
  text-align: center;
  padding-top: 34px;
}

.recomend__slider-prew::after {
  content: "\f104";
  font-family: "FontAwesome";
  font-size: 19px;
  color: #fcfcfc;
  position: absolute;
  left: 0;
  right: 1px;
  top: -1.5px;
}

.recomend__slider-next::after {
  content: "\f105";
  font-family: "FontAwesome";
  font-size: 19px;
  color: #fcfcfc;
  position: absolute;
  left: 1px;
  right: 0;
  top: -1.5px;
}

.recomend__slider-item {
  text-align: center;
}

.recomend__slider-item-img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.recomend__slider-item-title {
  color: #000;
  font-size: 17px;
  line-height: 24px;
  display: inline-block;
}

.recomend__slider-item-title:hover {
  color: #000;
}

.recomend__slider-item-price {
  color: #e0222d;
  display: inline-block;
  font-family: "PTSBold", sans-serif;
  font-size: 17px;
  line-height: 24px;
}

.card {
  padding-top: 24px;
}

.card__img {
  display: block;
  width: 100%;
}

.card__img__wp {
  width: 100%;
}

.card__text {
  padding-top: 28px;
}

.card__text-title {
  color: #151515;
  font-family: "PTSBold", sans-serif;
  font-size: 22px;
}

.card__text-price {
  color: #151515;
  font-size: 19px;
  padding-top: 8px;
}

.card__text-price-r {
  color: #e0222d;
  font-size: 24px;
  font-family: "PTSBold", sans-serif;
  display: inline-block;
  margin-left: 5px;
}

.card__text-availability {
  color: #3c5a98;
  font-size: 16px;
  padding-left: 19px;
  position: relative;
  margin-top: 12px;
}

.card__text-availability::before {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #3c5a98;
  position: absolute;
  left: 0;
  top: 6px;
}

.card__buy {
  padding: 40px 30px;
  background-color: #f5f5f5;
}

.card__buy-top {
  display: block;
  width: 100%;
  height: 48px;
  margin-bottom: 7px;
  text-align: center;
  background-color: #e0222d;
  color: #fefefd;
  font-size: 17px;
  line-height: 48px;
  font-family: "PTSBold", sans-serif;
  border: 1px solid #e0222d;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.card__buy-top:hover {
  background-color: transparent;
  color: #e0222d;
}

.card__buy-bottom {
  display: block;
  width: 100%;
  height: 48px;
  text-align: center;
  line-height: 48px;
  border: 1px solid #494949;
  color: #494949;
  font-size: 17px;
  font-family: "PTSBold", sans-serif;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.card__buy-bottom:hover {
  background-color: #494949;
  color: #fff;
}

.tabs {
  margin-top: 100px;
}

.tabs__top-item {
  cursor: pointer;
  display: block;
  float: left;
  width: 180px;
  color: #494949;
  background-color: #e6eef0;
  height: 54px;
  line-height: 54px;
  text-align: center;
  font-size: 17px;
  margin-right: 10px;
  border-radius: 2px 2px 0 0;
}

.tabs__top .active {
  background-color: transparent;
  border-top: 3px solid #e6eef0;
  border-left: 3px solid #e6eef0;
  border-right: 3px solid #e6eef0;
  height: 72px;
  display: block;
  margin-top: -18px;
  padding-top: 15px;
  position: relative;
}

.tabs__top .active::before {
  content: '';
  width: 174px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
}

.tabs__content {
  width: 100%;
  border: 3px solid #e6eef0;
  padding: 23px 30px;
}

.tabs__content p {
  color: #494949;
  font-size: 16px;
  line-height: 24px;
}

.tabs__content ul {
  padding-top: 24px;
}

.tabs__content ul li {
  color: #494949;
  font-size: 16px;
  display: block;
  line-height: 24px;
  padding-left: 16px;
  position: relative;
}

.tabs__content ul li::before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #565757;
  position: absolute;
  left: 2px;
  top: 10px;
  border-radius: 50%;
}

.catalog__item {
  height: 252px;
  margin-bottom: 24px;
  background-color: #f5f5f5;
  display: block;
}

.catalog__item-img {
  display: inline-block;
  margin-top: 10px;
}

.catalog__item:hover .categ__item-bottom {
  padding-left: 16px;
}

.catalog__item:hover .categ__item-title {
  color: #e0222d;
}

.catalog__item-top {
  height: 160px;
  text-align: center;
}

.catalog__item-bottom {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.cat__item {
  height: 210px;
  margin-bottom: 24px;
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding-top: 18px;
  padding-bottom: 18px;
}

.cat__item:hover {
  -webkit-box-shadow: 2px 0px 21px 0px rgba(1, 2, 4, 0.35);
  -moz-box-shadow: 2px 0px 21px 0px rgba(1, 2, 4, 0.35);
  box-shadow: 2px 0px 21px 0px rgba(1, 2, 4, 0.35);
}

.cat__item:hover .cat__item-title {
  color: #e0222d;
}

.cat__item-top {
  text-align: center;
}

.cat__item-img {
  max-width: 80%;
  display: inline-block;
}

.cat__item-title {
  color: #151515;
  font-size: 17px;
  display: block;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.cat__item-price {
  color: #151515;
  font-size: 17px;
  display: block;
  text-align: center;
  padding-top: 5px;
}

.contacts__top-name {
  color: #000;
  font-size: 18px;
  margin-left: 6px;
  display: block;
  margin-bottom: 12px;
}

.contacts__top-info {
  background-position: left center;
  background-repeat: no-repeat;
  color: #000;
  font-size: 20px;
  padding: 5px 0 5px 37px;
}

.contacts__top-info a {
  color: #000;
  font-size: 20px;
}

.contacts__top-info a:hover {
  color: #e0222d;
}

.contacts__map {
  width: 100%;
  margin-top: 24px;
  border: 2px solid #ecf5ff;
}

.contacts__map iframe {
  width: 100% !important;
  display: block;
  height: 392px !important;
}

.askaquestion {
  border: 1px solid #e0222d;
  padding: 48px 60px;
  margin-top: 52px;
  padding-top: 32px;
  margin-bottom: 38px;
}

.askaquestion__title {
  color: #000;
  font-size: 19px;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 17px;
}

.askaquestion__left {
  width: 50%;
  padding-right: 7.5px;
  float: left;
  position: relative;
}

.askaquestion__input {
  display: block;
  width: 100%;
  border: 1px solid #b2a8a9;
  border-radius: 2px;
  height: 36px;
  margin-bottom: 9px;
  -webkit-box-shadow: 0px -1px 10px 8px rgba(217, 217, 218, 0.2);
  -moz-box-shadow: 0px -1px 10px 8px rgba(217, 217, 218, 0.2);
  box-shadow: 0px -1px 10px 8px rgba(217, 217, 218, 0.2);
  padding-left: 47px;
}

.askaquestion__input-icon-1::before {
  content: '';
  width: 41px;
  height: 36px;
  background-color: transparent;
  position: absolute;
  border: 1px solid #b2a8a9;
  border-radius: 2px 0 0 2px;
  top: 0;
  left: 0;
  display: block;
}

.askaquestion__input-icon-1::after {
  content: "\f007";
  font-family: FontAwesome;
  font-size: 16px;
  color: #818080;
  position: absolute;
  left: 15px;
  top: 9px;
}

.askaquestion__input-icon-2::before {
  content: '';
  width: 41px;
  height: 36px;
  background-color: transparent;
  position: absolute;
  border: 1px solid #b2a8a9;
  border-radius: 2px 0 0 2px;
  top: 45px;
  left: 0;
  display: block;
}

.askaquestion__input-icon-2::after {
  content: "\f0e0";
  font-family: FontAwesome;
  font-size: 16px;
  color: #818080;
  position: absolute;
  left: 15px;
  top: 54px;
}

.askaquestion__right {
  width: 50%;
  padding-left: 7.5px;
  float: right;
}

.askaquestion__textarea {
  display: block;
  width: 100%;
  border: 1px solid #b2a8a9;
  border-radius: 2px;
  height: 81px;
  margin-bottom: 9px;
  -webkit-box-shadow: 0px -1px 10px 8px rgba(217, 217, 218, 0.2);
  -moz-box-shadow: 0px -1px 10px 8px rgba(217, 217, 218, 0.2);
  box-shadow: 0px -1px 10px 8px rgba(217, 217, 218, 0.2);
  padding: 10px 14px;
  resize: none;
}

.askaquestion__bottom {
  clear: left;
  text-align: center;
  padding-top: 12px;
}

.askaquestion__button {
  display: inline-block;
  padding: 0 88px;
  height: 44px;
  background-color: #e0222d;
  border: 1px solid #e0222d;
  color: #fefefd;
  font-size: 17px;
  font-family: "PTSBold", sans-serif;
  line-height: 44px;
  border-radius: 2px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.askaquestion__button:hover {
  background-color: transparent;
  color: #e0222d;
}

.contacts__top {
  margin-top: -25px;
}

.black-content {
  background-color: #050505;
  padding: 24px 0;
  margin-top: -58px;
  margin-bottom: 28px;
}

.black-content__title {
  color: #fff;
  font-family: "PTSBold", sans-serif;
  font-size: 24px;
}

.corz__item {
  padding-left: 50px;
  padding-right: 142px;
  border-top: 1px solid #dcd9d9;
  border-left: 1px solid #dcd9d9;
  border-right: 1px solid #dcd9d9;
  height: 107px;
}

.corz__item-img {
  width: 86px;
  max-height: 105px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.corz__item-img-wp {
  height: 107px;
  width: 16.75393%;
  position: relative;
  float: left;
}

.corz__item-name {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #151515;
}

.corz__item-name-wp {
  height: 107px;
  width: 48.90052%;
  float: left;
  position: relative;
}

.corz__item-quantity {
  padding-top: 33.5px;
  width: 23.56021%;
  float: left;
}

.corz__item-quantity-left {
  display: block;
  width: 30px;
  height: 40px;
  background-color: transparent;
  position: relative;
  float: left;
  border: none;
}

.corz__item-quantity-left::before {
  content: '';
  height: 3px;
  width: 13px;
  position: absolute;
  left: 7px;
  top: 50%;
  margin-top: -1.5px;
  background-color: #151515;
}

.corz__item-quantity-center {
  width: 74px;
  height: 40px;
  display: block;
  border: 1px solid #dcd9d9;
  border-radius: 2px;
  text-align: center;
  font-size: 18px;
  color: #151515;
  float: left;
  margin: 0 4px;
}

.corz__item-quantity-right {
  display: block;
  width: 30px;
  height: 40px;
  background-color: transparent;
  position: relative;
  top: 50%;
  float: left;
  border: none;
}

.corz__item-quantity-right::after {
  content: '';
  width: 13px;
  height: 3px;
  position: absolute;
  left: 7px;
  top: 50%;
  margin-top: -1.5px;
  background-color: #151515;
}

.corz__item-quantity-right::before {
  content: '';
  height: 13px;
  width: 3px;
  position: absolute;
  left: 12px;
  top: 50%;
  margin-top: -6.5px;
  background-color: #151515;
}

.corz__item-price {
  color: #151515;
  font-family: "PTSBold", sans-serif;
  font-size: 18px;
  line-height: 107px;
  float: right;
}

.corz__item:first-child {
  border-radius: 4px 4px 0 0;
}

.corz__item:last-child {
  border-radius: 0 0 4px 4px;
  border-bottom: 1px solid #dcd9d9;
}

.cup__text {
  line-height: 107px;
}

.cup__text-wp {
  width: 180px;
  float: left;
}

.cup__input {
  width: 100%;
  height: 40px;
  display: block;
  border: 1px solid #dcd9d9;
  border-radius: 2px;
  text-align: center;
  font-size: 18px;
  color: #151515;
  margin: 0 4px;
}

.cup__input-wp {
  width: 238px;
  float: left;
  padding-top: 33.5px;
}

.cup__button {
  height: 40px;
  display: block;
  width: 100%;
  border: 1px solid #3c5a98;
  border-radius: 2px;
  color: #3c5a98;
  text-align: center;
  line-height: 40px;
  font-family: "PTSBold", sans-serif;
  font-size: 17px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.cup__button:hover {
  background-color: #3c5a98;
  color: #fff;
}

.cup__button-wp {
  padding-top: 33.5px;
  width: 207px;
  float: left;
  padding-left: 12px;
}

.cup__itog {
  color: #0b0b0b;
  font-family: "PTSBold", sans-serif;
  font-size: 22px;
  line-height: 107px;
  float: left;
  text-align: right;
  width: 328px;
}

.cup__itog span {
  display: inline-block;
  margin-left: 22px;
}

.corz__bottom {
  text-align: right;
  padding-top: 25px;
  padding-right: 88px;
}

.corz__bottom-button {
  width: 254px;
  height: 58px;
  display: inline-block;
  background-color: #e0222d;
  border: 1px solid #e0222d;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #fefefd;
  border-radius: 2px;
  text-align: center;
  line-height: 58px;
  font-size: 19px;
  font-family: "PTSBold", sans-serif;
}

.corz__bottom-button:hover {
  background-color: transparent;
  color: #e0222d;
}

.blog__item {
  border-bottom: 1px solid #000;
  padding-bottom: 40px;
  padding-top: 40px;
}

.blog__item:first-child {
  padding-top: 22px;
}

.blog__title {
  color: #000;
  font-family: "PTSBold", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.blog__data {
  color: #969696;
  font-size: 16px;
  line-height: 48px;
}

.blog__data span {
  margin-left: 12px;
  display: inline-block;
}

.blog__description {
  color: #000;
  font-size: 14px;
  line-height: 22px;
}

.blog__description a {
  color: #161997;
}

.blog__description a:hover {
  color: #161997;
  text-decoration: underline;
}

.blog__more {
  color: #e0222d;
  text-decoration: underline;
  font-size: 16px;
}

.blog__more:hover {
  color: #e0222d;
  text-decoration: none;
}

.blog__more-wp {
  padding-top: 10px;
}

.blog__img {
  display: block;
}

.blog__img-wp {
  padding-top: 20px;
}

.blog__list {
  padding-bottom: 16px;
}

.blog__list-item {
  padding-left: 25px;
  position: relative;
  display: block;
  color: #080808;
  font-size: 14px;
  line-height: 22px;
}

.blog__list-item::before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #424242;
  position: absolute;
  left: 4px;
  top: 10px;
  display: block;
}

.blog__ago {
  color: #0c0c0c;
  font-size: 15px;
  padding-left: 11px;
  position: relative;
}

.blog__ago::before {
  content: "\f104";
  position: absolute;
  font-family: FontAwesome;
  left: 0;
  top: 0;
  display: block;
  color: #626263;
  font-size: 19px;
  line-height: 100%;
}

.blog__ago:hover {
  color: #161997;
}

.blog__ago:hover::before {
  color: #161997;
}

.blog__ago-wp {
  padding-top: 16px;
}

.pagination {
  font-size: 0;
  padding-top: 54px;
  padding-left: 76px;
}

.pagination__item {
  display: inline-block;
}

.pagination__active .pagination__link {
  color: #161997;
}

.pagination__link {
  color: #151515;
  width: 30px;
  text-align: center;
  display: block;
  font-size: 15px;
}

.pagination__link:hover {
  color: #161997;
}

.pagination__arrow {
  width: auto;
}

.pagination__arrow a {
  width: 100%;
}

.pagination__prew {
  position: relative;
  margin-right: 5px;
}

.pagination__prew:hover::before {
  color: #161997;
}

.pagination__prew a {
  padding-left: 14px;
  color: #626263;
}

.pagination__prew::before {
  content: "\f104";
  position: absolute;
  font-family: FontAwesome;
  left: 0;
  top: 50%;
  display: block;
  color: #626263;
  font-size: 19px;
  transform: translateY(-50%);
}

.pagination__next {
  position: relative;
  margin-left: 5px;
}

.pagination__next:hover::after {
  color: #161997;
}

.pagination__next a {
  padding-right: 14px;
  color: #626263;
}

.pagination__next::after {
  content: "\f105";
  font-family: FontAwesome;
  position: absolute;
  display: block;
  right: 0;
  color: #626263;
  top: 50%;
  transform: translateY(-50%);
  font-size: 19px;
}

.single-news {
  padding-top: 40px;
}

.single-news-wp {
  padding-bottom: 40px;
}

.single-vid {
  padding-bottom: 40px;
}

.single-vid__img-wp {
  padding-top: 16px;
}

.single-vid__title {
  text-transform: uppercase;
  color: #000;
  font-size: 17px;
  font-family: "PTSBold", sans-serif;
}

.single-vid__title-wp {
  padding-top: 16px;
}

.single-vid__description {
  color: #000;
  font-size: 14px;
  line-height: 22px;
}

.single-vid__description-wp {
  padding-top: 16px;
}

.recomend-reading__title {
  text-transform: uppercase;
  color: #0e0e0e;
  font-size: 15px;
  font-family: "PTSBold", sans-serif;
}

.recomend-reading__title-wp {
  margin-bottom: -20px;
}

.recomend-reading .blog__title {
  color: #161997;
}

.recomend-reading .blog__item:last-child {
  border: none;
  padding-bottom: 16px;
}

.single-vid-wp {
  padding-bottom: 40px;
}

.single-vid-wp .blog__ago-wp {
  padding-top: 0;
}

.order__top {
  border: 1px solid #dcd9d9;
  border-radius: 2px;
  padding: 35px 37px 57px 0;
  margin-bottom: 40px;
}

.order__title {
  color: #0b0b0b;
  font-size: 20px;
  font-family: "PTSBold", sans-serif;
}

.order__title-wp {
  padding-bottom: 30px;
}

.order__center-title {
  color: #101010;
  font-size: 20px;
  font-family: "PTSBold", sans-serif;
}

.order__center-title-wp {
  padding-bottom: 16px;
}

.order__center .cup__itog {
  width: 100%;
}

.order__data-left {
  float: left;
  width: 50%;
}

.order__data-right {
  float: right;
  width: 50%;
}

.order__data-item {
  width: 100%;
  margin-bottom: 10px;
  padding-left: 37px;
}

.order__data-item-text {
  color: #0b0b0b;
  font-size: 17px;
  float: left;
  line-height: 48px;
}

.order__data-item-text-obl::after {
  content: '*';
  color: #3c5a98;
  font-size: 21px;
}

.order__data-item-input {
  display: block;
  height: 48px;
  width: 348px;
  border: 1px solid #cbcaca;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  float: right;
  -webkit-box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.16);
}

.order__data-item-textarea {
  display: block;
  width: 348px;
  border: 1px solid #cbcaca;
  border-radius: 2px;
  padding-left: 10px;
  height: 106px;
  resize: none;
  float: right;
  -webkit-box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.16);
  padding: 5px 10px;
}

.order__process {
  padding-top: 40px;
}

.order__process-title {
  font-size: 20px;
  color: #0b0b0b;
  font-family: "PTSBold", sans-serif;
}

.order__process-check {
  padding-top: 40px;
}

.order__process-check-item {
  padding-bottom: 26px;
}

.order__process-check-input {
  display: none;
}

.order__process-check-label {
  position: relative;
  font-size: 17px;
  color: #0b0b0b;
  padding: 3px 0 3px 44px;
  display: block;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.order__process-check-label::before {
  content: '';
  width: 28px;
  height: 28px;
  border: 2px solid #dcd9d9;
  display: block;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 0;
}

.order__requisites {
  padding-top: 40px;
}

.order__requisites-subtitle {
  color: #0b0b0b;
  display: block;
  font-size: 18px;
  padding-bottom: 16px;
  padding-top: 26px;
}

.order__requisites-row-title {
  color: #0b0b0b;
  font-size: 16px;
  font-family: "PTSBold", sans-serif;
  padding-bottom: 16px;
  display: block;
}

.order__requisites-row-textarea {
  width: 510px;
  display: block;
  resize: none;
  height: 180px;
  border-radius: 2px;
  -webkit-box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.16);
  border: 1px solid #cbcaca;
  padding: 5px 10px;
}

.order__requisites-input {
  display: none;
}

.order__requisites-label {
  width: 175px;
  height: 40px;
  border: 1px solid #a2a2a2;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  color: #565758;
  font-size: 15px;
  background-image: url(../img/grad.jpg);
  background-repeat: repeat-x;
  background-position: center center;
}

.order__requisites-label:hover, .order__requisites-label:active, .order__requisites-label:focus {
  color: #565758;
}

.order__requisites-label-wp {
  padding-bottom: 16px;
}

.order__requisites #chose_file_text {
  font-size: 15px;
  color: #848586;
  display: inline-block;
  position: relative;
  line-height: 40px;
  margin-bottom: 16px;
  margin-left: 10px;
}

.order__requisites-description {
  color: #0b0b0b;
  font-size: 16px;
  line-height: 24px;
  display: block;
  padding-bottom: 16px;
}

.order__requisites-checkout-wp {
  padding-top: 28px;
}

.order__process-check-input:checked + .order__process-check-label:before {
  content: '';
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  background-position: 2px center;
}

.yvio p {
  color: #000;
  font-size: 14px;
  line-height: auto;
}

.yvio-wp {
  padding-top: 16px;
  padding-bottom: 40px;
}
